:root {
    --bg-primary: rgb(250, 250, 250);
    --bg-secondary: #f4f4f5;
    --text-primary: #09090b;
    --text-secondary: #52525b;
    --border-color: #e4e4e7;
    --accent-color: #09090b;
    --accent-text: #fafafa;
    --shadow-filter: brightness(0);
    --brand-primary: #2563eb;
    --brand-success: #16a34a;
    --brand-danger: #dc2626;
    --brand-warning: #ca8a04;

    --chart-1: #2563eb;
    --chart-2: #7c3aed;
    --chart-3: #0d9488;
    --chart-4: #64748b;
    --chart-5: #db2777;
    --chart-6: #ea580c;
    --chart-7: #c026d3;
    --chart-8: #f59e0b;
    --chart-9: #4f46e5;
    --chart-10: #0891b2;
    --chart-11: #65a30d;
    --chart-12: #0284c7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: #09090b;
        --bg-secondary: #18181b;
        --text-primary: #fafafa;
        --text-secondary: #a1a1aa;
        --border-color: #27272a;
        --accent-color: #fafafa;
        --accent-text: #09090b;
        --shadow-filter: brightness(0) invert(1);
        --brand-primary: #3b82f6;

        --brand-success: #34d399;
        --brand-danger: #f87171;
        --brand-warning: #fde047;

        --chart-1: #3b82f6;
        --chart-2: #8b5cf6;
        --chart-3: #2dd4bf;
        --chart-4: #94a3b8;
        --chart-5: #f472b6;
        --chart-7: #e879f9;
        --chart-6: #fb923c;
        --chart-8: #fbbf24;
        --chart-9: #818cf8;
        --chart-10: #22d3ee;
        --chart-11: #a3e635;
        --chart-12: #38bdf8;
    }
}

$bg-primary: var(--bg-primary);
$bg-secondary: var(--bg-secondary);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$border-color: var(--border-color);
$accent-color: var(--accent-color);
$accent-text: var(--accent-text);
$brand-primary: var(--brand-primary);

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 16px;
$transition-default: all 0.3s ease-in-out;
$shadow-filter: var(--shadow-filter);

$montserrat: var(--font-montserrat), sans-serif;
$serif: var(--font-serif), serif;

$verde: var(--brand-success);
$vermelho: var(--brand-danger);
$amarelo: var(--brand-warning);
